
* {
fg:          #d4d4d4;
bg:          #121212ff;
bg2:         #1f1f1f;
bg3:         #282828;

text:        #f0f0f0;
comment:     #808080;

red:         #fdb2d4;
orange:      #ffc8a8;
yellow:      #eede94;
green:       #cdf6a0;
teal:        #9ffcdd;
cyan:        #aaeaf6;
blue:        #98c4f3;
magenta:     #c4a9f8;
}
